
  <div class="card" >
      <div class="card-header">
        <h5 class="card-title">{{carro?.nome}}</h5>
      <div class="card-body">
        <div class="flip-box">
          <div class="flip-box-inner">
              <div class="flip-box-front">
                  <img src="{{carro?.imagem}}" class="card-img-top" alt="Gol">
              </div>
              <div class="flip-box-back">
                <img src="../../assets/fundo.png" class="card-img-top" alt="Gol">

                <div class="informacao_carro">
                  <div class="row">
                    <div class="col-6">
                      <i class="fa-solid fa-user">  {{carro?.motor}}, {{manual}}</i> <br>
                      <i class="fa-solid fa-business-time"> {{carro?.malas}} mala(s) grande(s)</i>  <br>
                      <i class="fa-solid fa-person"> {{carro?.assentos}} assentos</i> <br>
                      <i class="fa-solid fa-snowflake" *ngIf="carro?.arcondicionado" >Ar condicionado</i>
                    </div>
                    <div class="col-6">
                      <i class="fa-solid fa-brush"> Cor: {{carro?.cor}}</i>  <br>

                      <i class="fa-solid fa-car" *ngIf="carro?.vidroEletrico">Vidro eletrico</i> <br>
                      <i class="fa-solid fa-exclamation" *ngIf="carro?.abs">ABS</i> <br>
                      <i class="fa-solid fa-car-burst" *ngIf="carro?.airbag" >Airbag</i>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
        <p class="card-text">{{carro?.descricao}}</p>
      </div>
      <div class="card-footer">
        <a (click)="simular()" class="card-button"> Simular Aluguel</a>
      </div>
  </div>

