<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOcar- locadora de carros</title>
    <link href="./catalogo.component.css" rel="stylesheet">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" ></script>
</head>
<body>


        
        <header class="p-3 bg-dark text-white">
            
            <div class="container">
                
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> </a>
                    <div   class="logo bg-dark">
                        <img src="../../assets/logoPequena.png" alt="logo"width="120" height="48"class="d-inline-block align-text-top ">     
                    </div>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="../catalogo/catalogo.component.html" class="nav-link px-2 text-secondary">catálogo</a></li>
                        <li><a href="../home/home.component.html" class="nav-link px-2 text-white">Home</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">Contatos</a></li>
                    </ul>

                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2">Login</button>
                        <button type="button" class="btn btn-warning">cadastrar</button>
                    </div>
                </div>
            </div>
        </header>

        <br>
    <main class="conteudo">

        <section class="conteudo-secundario">

            <h3 class="conteudo-primario-titulo">Catálogo</h3>

            <h3 class="conteudo-secundario-titulo">Grupo A - Econômicos Com Ar </h3>  
            <div class="container mx-auto mt-4">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="card" >
                            <img src="../../assets/carros_catalago/compactos//gol.png" class="card-img-top" alt="Gol">
                            <div class="card-body">
                            <h5 class="card-title">Gol</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                            <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/compactos/kwid.png" class="card-img-top" alt="Kwid">
                    <div class="card-body">
                    <h5 class="card-title">Kwid</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                    <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/compactos/uno.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Uno</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>

            <h3 class="conteudo-secundario-titulo">Grupo FS - Intermediário Sedan</h3>  
                
                <div class="col-md-4">
                    <div class="card" >
                        <img src="../../assets/carros_catalago/sedan/corolla.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Corolla</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                            <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                        </div>
                    </div>
                </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/sedan/cronos.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cronos</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/sedan/HB20s.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">HB20s</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>

                <h3 class="conteudo-secundario-titulo">Grupo FX - Intermediário Automático </h3>  
                
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/automaticos/onix.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Onix</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i>Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/automaticos/virtus.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Virtus</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
             <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/automaticos/fortuner.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fortuner</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>

            <h3 class="conteudo-secundario-titulo">Grupo G - Suv</h3>  
                
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/SUV/Jeep.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jeep Compass</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/SUV/tiguar.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tiguar</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                 </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/SUV/tucson.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tucson</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>    
            </div>

            <h3 class="conteudo-secundario-titulo">Grupo P - 4X4 Especial </h3>  
                
            <div class="col-md-4">
                <div class="card" >
                <img src="../../assets/carros_catalago/camionetes/escape.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Escape</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/camionetes/ford.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ford</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>
            </div>    
            <div class="col-md-4">
                <div class="card" >
                    <img src="../../assets/carros_catalago/camionetes/Ram.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ram 1500</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Saiba mais sobre o carro</a>
                        <a href="../../components/simular/simular.component.html" class="card-button"> Simular Aluguel</a>
                    </div>
                </div>    
            </div>
        </section>
    
        
    </main>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        </body>
        
    </html>